<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>SIDDHARTH</title>
</head>
<body>
    {{>navbar}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 plain-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR WEBSITE</h1>
                        <p>We Are A Team Of <span class="bold-style"> Professional Developer</span></p>
                        <button class="btn-style btn-primary">ReadMore</button>
                    </div>
                    
                    <div class="col-md-6 col-12 plain-text order-md-1 order-0">
                        <figure>
                            <img src="imgs/3.png" alt="" >
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>about}}

    {{>services}}

    {{>maps}}

    {{>contact}}
    <script src="../jq/jquery.js" type="text/javascript"> </script>
    <script src="../js/bootstrap.js" type="text/javascript"> </script>

</body>
</html>