    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your website with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 plain-text">
                        <figure>
                            <img src="imgs/1.png" alt="" >
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 plain-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE PROFESSIONAL DEVELOPER</h1>
                        <p>Welcome to <span class="bold-style">SiddharthMathura.</span> Your number one stop for website development.</p>
                        <button class="btn-style btn-primary">Aboutus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>