<div class="container-fluid mt-5 about-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Our Services</h1>
                <p class="text-center sub-heading">grow your website with us</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/6.png" alt="">
                                </div>
                                    <h4>Nodejs</h4>
                                    <p>This is a nodejs's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/7.png" alt="">
                                </div>
                                    <h4>Expressjs</h4>
                                    <p>This is a expressjs's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/8.png" alt="">
                                </div>
                                    <h4>MySQL</h4>
                                    <p>This is a MySQL's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/9.png" alt="">
                                </div>
                                    <h4>Mongodb</h4>
                                    <p>This is a Mongodb's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/5.png" alt="">
                                </div>
                                    <h4>Mongoose</h4>
                                    <p>This is a Mongoose's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/10.png" alt="">
                                </div>
                                    <h4>Bootstrap</h4>
                                    <p>This is a bootstrap's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/11.png" alt="">
                                </div>
                                    <h4>Dotenv</h4>
                                    <p>This is a Dotenv's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/12.png" alt="">
                                </div>
                                    <h4>Bcryptjs</h4>
                                    <p>This is a Bcryptjs's card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="imgs/13.png" alt="">
                                </div>
                                    <h4>Jwt</h4>
                                    <p>This is a Jwt's card.</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>   
</div>             